* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background-color: #000; }

body {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto; }

.header, .footer, .content {
  width: 1100px;
  margin: auto;
  position: relative; }

.header-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
  background: -webkit-linear-gradient(#fff, #f1f1f1);
  background: linear-gradient(#fff, #f1f1f1);
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1366px;
  z-index: 1; }

.sub-menu {
  float: left;
  width: 480px;
  cursor: pointer; }
  .sub-menu a {
    float: left;
    display: inline-block;
    font-size: 11px;
    padding: 10px 8px;
    position: relative;
    color: #88c5ea; }
    .sub-menu a:after {
      content: "|";
      position: absolute;
      right: -1px;
      color: #c4c4c4; }
  .sub-menu .last:after {
    content: ""; }

.chat-line {
  background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#ececec));
  background: -webkit-linear-gradient(#d4d4d4, #ececec);
  background: linear-gradient(#d4d4d4, #ececec);
  width: 122px;
  height: 30px;
  float: left;
  display: inline-block;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
  margin-left: 25px; }
  .chat-line .light {
    background-image: url(../img/desktop.png);
    height: 15px;
    width: 15px;
    margin-top: 8px;
    margin-left: 6px;
    float: left; }
  .chat-line .chat {
    color: #8f8f8f;
    float: left;
    font-size: 18px;
    margin-top: 4px;
    margin-left: 6px; }
  .chat-line .line {
    color: #b5b5b5;
    float: right;
    font-size: 5px;
    margin-top: 10px;
    margin-right: 2px; }

.country {
  width: 170px;
  height: 30px;
  margin-left: 6px;
  float: left; }
  .country .map {
    margin-top: 6px;
    width: 46px;
    height: 24px;
    float: left; }
  .country .location {
    float: left;
    margin-top: 10px;
    font-size: 11px;
    margin-left: 4px;
    color: #676767; }
  .country .change {
    float: left;
    font-size: 11px;
    margin-left: 6px;
    margin-top: 10px;
    color: #2b83c7;
    position: relative; }
    .country .change button {
      background-color: #fff;
      width: 0px;
      height: 0px;
      border-width: 7px;
      border-style: solid;
      border-color: #2ea8e1 transparent transparent transparent;
      position: absolute;
      top: 5px;
      right: -20px;
      cursor: pointer; }

.language {
  width: 275px;
  float: left;
  display: inline-block;
  margin-left: 16px;
  cursor: pointer; }
  .language li {
    display: inline-block;
    float: left;
    display: inline-block;
    font-size: 11px;
    padding: 10px 8px;
    position: relative;
    color: #5a87d1; }
    .language li a:after {
      content: "|";
      position: absolute;
      right: -1px;
      color: #c4c4c4;
      clear: both; }
    .language li .last:after {
      content: ""; }

.logo {
  width: 204px;
  height: 40px;
  float: left;
  margin-left: 15px;
  margin-top: 5px; }
  .logo .mobile {
    display: none; }

.search {
  float: right;
  width: 390px;
  height: 36px;
  margin-top: 5px;
  cursor: pointer; }
  .search input {
    float: left;
    width: 218px;
    height: 36px;
    font-size: 13px;
    padding: 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
    color: #a3a5a8; }
  .search .search-button {
    float: left;
    width: 80px;
    height: 36px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc251), to(#ffa112));
    background: -webkit-linear-gradient(#ffc251, #ffa112);
    background: linear-gradient(#ffc251, #ffa112);
    text-align: center;
    line-height: 36px;
    color: #414141;
    -webkit-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0; }
  .search .other {
    float: right;
    width: 70px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    background: -webkit-gradient(linear, left top, left bottom, from(#5a84ff), to(#266eff));
    background: -webkit-linear-gradient(#5a84ff, #266eff);
    background: linear-gradient(#5a84ff, #266eff);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #f5f5f5;
    margin-right: 3px;
    cursor: pointer; }
    .search .other:after {
      clear: both; }
  .search .mobile-button {
    display: none; }

.menu {
  float: left;
  width: 100%;
  margin-top: 14px;
  cursor: pointer; }
  .menu li {
    float: left;
    width: 156px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#02366f), to(#2a4d81));
    background: -webkit-linear-gradient(#02366f, #2a4d81);
    background: linear-gradient(#02366f, #2a4d81);
    margin-right: 1px;
    height: 30px;
    line-height: 30px; }
    .menu li a {
      color: #ffffff; }

.slide {
  max-width: 1366px;
  width: 100%;
  max-height: 802px;
  position: relative; }
  .slide img {
    max-width: 1366px;
    width: 100%;
    height: auto;
    display: block; }
  .slide .mobile {
    display: none;
    position: absolute; }
  .slide .button {
    position: absolute;
    bottom: 338px;
    border: 1px solid #fff;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: #fff;
    cursor: pointer; }
    .slide .button:hover {
      border: 1px solid d45a2d;
      color: d45a2d;
      background-color: #fff; }
  .slide .button-l {
    left: 48px; }
  .slide .button-r {
    right: 48px; }
  .slide .learn-more {
    cursor: pointer;
    position: absolute;
    color: #fff;
    right: 182px;
    bottom: 80px;
    height: 42px;
    width: 162px;
    border: 2px solid #fff;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    text-align: center;
    line-height: 40px;
    font-size: 15px; }
    .slide .learn-more:hover {
      border: 2px solid d45a2d;
      color: d45a2d;
      background-color: #fff;
      font-weight: bold; }
  .slide .cutover {
    position: absolute;
    bottom: 30px;
    left: 634px;
    width: 110px;
    height: 12px; }
    .slide .cutover .dot {
      height: 12px;
      width: 12px;
      border: 1px solid #fff;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      float: left;
      margin-left: 10px; }
    .slide .cutover .is-active {
      background-color: #fff; }

.contents {
  witch: 100%;
  background-color: #fff;
  padding-top: 40px;
  position: relative; }
  .contents .information {
    margin-bottom: 40px;
    position: relative;
    background-color: #f1f1f1;
    height: 252px;
    width: 1100px; }
    .contents .information img {
      float: left;
      top: 0;
      left: 0; }
    .contents .information .mobile {
      display: none; }
    .contents .information .text {
      float: left;
      height: 160px;
      width: 650px;
      margin-left: 22px;
      margin-top: 60px; }
      .contents .information .text h3 {
        font-size: 30px;
        color: #2b2b2b; }
      .contents .information .text p {
        font-size: 17px;
        color: #535353; }
      .contents .information .text a {
        line-height: 40px;
        font-size: 20px;
        color: #266fff;
        cursor: pointer; }
  .contents .information-r {
    background-color: #ffffff;
    border: 1px solid #dcdcdc; }
    .contents .information-r img {
      float: right;
      margin-top: -2px; }
    .contents .information-r .text {
      float: left;
      height: 160px;
      width: 650px;
      margin-left: 22px;
      margin-top: 55px; }

.content .driving .text {
  margin-top: 45px;
  margin-bottom: 10px; }

.content .express .text, .content .power .text {
  margin-top: 50px;
  margin-bottom: 5px; }

.icons {
  float: right;
  width: 150px;
  height: 28px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block; }
  .icons .icon {
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    height: 24px;
    width: 24px;
    text-align: center;
    margin-left: 6px;
    display: inline-block; }
    .icons .icon .fa {
      color: #b2b2b2;
      font-size: 15px;
      line-height: 24px; }

.information-r .icons {
  margin-right: -394px;
  margin-top: 208px; }
  .information-r .icons .icon {
    border: 1px solid #ffffff;
    background-color: rgba(170, 170, 180, 0.2); }
    .information-r .icons .icon .fa {
      color: #ffffff; }

.footer-bg {
  position: relative;
  background-color: #fff;
  height: 120px;
  margin-top: -40px; }
  .footer-bg .footer {
    background-image: url("../img/footer.png");
    background-repeat: no-repeat;
    position: relative;
    width: 1100px;
    height: 58px;
    clear: both;
    background-color: #e8eaef;
    cursor: pointer;
    top: 50px; }

@media screen and (min-width: 1101px) and (max-width: 1320px) {
  .slide .learn-more {
    cursor: pointer;
    position: absolute;
    color: #fff;
    right: 182px;
    bottom: 10%;
    height: 42px;
    width: 162px;
    border: 2px solid #fff;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    text-align: center;
    line-height: 40px;
    font-size: 15px; }
  .slide .cutover {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 110px;
    height: 12px; }
    .slide .cutover .dot {
      height: 12px;
      width: 12px;
      border: 1px solid #fff;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      float: left;
      margin-left: 10px; }
    .slide .cutover .is-active {
      background-color: #fff; } }

@media screen and (max-width: 1100px) {
  html {
    background-color: #27262c; }
  .header {
    height: 50px;
    background-color: #fff;
    width: 100%; }
    .header .sub-menu ul, .header .chat-line, .header .country, .header .language {
      display: none; }
    .header #input_name, .header .other, .header .search-button {
      display: none; }
    .header .menu ul, .header .computer {
      display: none; }
    .header .menu .button {
      background-image: url("../img/buttom.png");
      width: 28px;
      height: 22px;
      position: absolute;
      left: 10%;
      cursor: pointer;
      top: 15px; }
    .header .logo {
      position: absolute;
      left: 50%;
      top: 30px;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }
    .header .mobile {
      display: block; }
    .header .search {
      height: 28px;
      width: 28px; }
      .header .search .mobile-botton {
        display: block;
        background-image: url("../img/search.png");
        position: absolute;
        right: 10%;
        top: 15px;
        height: 28px;
        width: 28px; }
  .slide .computer, .buttons {
    display: none; }
  .slide {
    padding-bottom: 104%;
    margin-bottom: 5%; }
    .slide .mobile {
      display: block;
      height: 100%; }
  .information .computer, .text {
    display: none; }
  .contents, .content {
    width: 100%;
    background-color: #27262c; }
    .contents .information-r, .content .information-r {
      border: 0px solid; }
    .contents .information, .content .information {
      width: 100%;
      padding-bottom: 77%;
      margin-bottom: 5%;
      background-color: #27262c; }
      .contents .information .mobile, .content .information .mobile {
        width: 100%;
        display: block;
        padding-left: 2.7%;
        padding-right: 2.7%;
        position: absolute; }
      .contents .information .icons, .content .information .icons {
        float: none;
        position: absolute;
        bottom: 0px;
        width: 94.6%;
        padding-bottom: 14%;
        background-color: #f2f2f2;
        margin: 0 2.7%;
        display: inline-block; }
        .contents .information .icons .icon, .content .information .icons .icon {
          border: 2px solid #b2b2b2;
          -webkit-border-radius: 100%;
                  border-radius: 100%;
          padding-bottom: 7%;
          width: 7%;
          text-align: center;
          position: absolute;
          top: 50%;
          display: inline-block;
          background-color: #f2f2f2;
          margin-left: -3.5%;
          margin-top: -3.5%; }
          .contents .information .icons .icon .fa, .content .information .icons .icon .fa {
            color: #b2b2b2;
            font-size: 30px;
            line-height: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%); }
        .contents .information .icons .i-fb, .content .information .icons .i-fb {
          left: 25%; }
        .contents .information .icons .i-tw, .content .information .icons .i-tw {
          left: 50%; }
        .contents .information .icons .i-goo, .content .information .icons .i-goo {
          left: 75%; }
  .footer-bg {
    position: relative;
    background-color: #27262c;
    height: auto;
    margin-top: 0; }
    .footer-bg .footer {
      background-image: url("../img/mobile-footer.png");
      position: absolute;
      width: 100%;
      padding-bottom: 59%;
      cursor: pointer;
      background-size: cover;
      top: 0; } }
