head 
  meta(charset='utf-8')
link(rel='stylesheet',href='css/style.css')
script(src='https://use.fontawesome.com/0f937c4ecd.js')
.header-bg  
  .header
    .sub-menu
      ul
        li
          a My Renesas
        li 
          a Press Center
        li 
          a Events
        li 
          a Careers
        li
          a Investor Relations
        li
          a.last Contact Us      
    .chat-line
      .light
      .chat Chat
      .line OFFLINE
    .country
      img.map(src='img/map.png')
      .location Americas
      .change (Change) 
        button
    .language
      ul
        li 
          a 日本語
        li 
          a 한국어
        li 
         a 简体中文
        li 
          a 繁體中文
        li 
          a.last Login
    h1
    .logo
      img.computer(src='img/logo.png')
      img.mobile(src='img/mobile-logo.png')
    .search
      input#input_name(placeholder="Search by keyword or Part Name")
      .search-button search
      .other Other <br> Searches
      .mobile-botton
    .menu
      .button
      ul
        li
          a Products
        li
          a Applications
        li 
          a Development Tools
        li 
          a Support/Design
        li 
          a Buy/Sample
        li 
          a About Renesas
        li 
          a Special Offers
.slide
  ul
    li
      img.computer(src='img/background.png')
      img.mobile(src='img/mobile-bg.png')  
  .buttons
    .button.button-l <
    .button.button-r >
    .learn-more LEARN MORE
    .cutover
      .dot.is-active
      .dot
      .dot
      .dot
      .dot
.contents
  .content
    .information.driving
      img.computer(src='img/driving1.png')
      img.mobile(src='img/slide1.png')
      .text
        h3 DRIVING THE AUTOMOTIVE <br> EXPERIENCE INTO THE FUTURE
        p 1500s, when an unknown printer took a galley of type and scrambled it to <br> make a type specimen book. It has survived not only five centuries.
        a LEARN MORE →
      .icons
        .icon.i-fb
          i.fa.fa-facebook(aria-hidden='true')
        .icon.i-tw
          i.fa.fa-twitter(aria-hidden='true')
        .icon.i-goo
          i.fa.fa-google-plus(aria-hidden='true')
    .information.information-r.devcon
      img.computer(src='img/devcon2.png')
      img.mobile(src='img/slide2.png')
      .text
        h3 DEVCON EXTENSION ONLINE
        p Lorem lpsum has been the industry's standard dummy text ever since the <br> 1500s, when an unknown printr took a galley of type.
        a LEARN MORE →
      .icons
        .icon.i-fb
          i.fa.fa-facebook(aria-hidden='true')
        .icon.i-tw
          i.fa.fa-twitter(aria-hidden='true')
        .icon.i-goo
          i.fa.fa-google-plus(aria-hidden='true')
    .information.express
      img.computer(src='img/RZexpress3.png')
      img.mobile(src='img/slide3.png')
      .text
        h3 GET ON THE RZ EXPRESS!
        p Lorem lpsum has been the industry's standard dummy text ever since the <br> 1500s, when an unknown printer took a galley of type and scrambled it to <br> make a type specimen book. It has survived not only five centuries.
        a LEARN MORE →
      .icons
        .icon.i-fb
          i.fa.fa-facebook(aria-hidden='true')
        .icon.i-tw
          i.fa.fa-twitter(aria-hidden='true')
        .icon.i-goo
          i.fa.fa-google-plus(aria-hidden='true')
    .information.information-r.kit
      img.computer(src='img/kit4.png')
      img.mobile(src='img/slide4.png')
      .text
        h3 R-IN32M3 KIT
        p Lorem lpsum has been the industry's standrd dummy text ever since the <br> 1500s, when an unknown printer took  galley of type.
        a LEARN MORE →
      .icons
        .icon.i-fb
          i.fa.fa-facebook(aria-hidden='true')
        .icon.i-tw
          i.fa.fa-twitter(aria-hidden='true')
        .icon.i-goo
          i.fa.fa-google-plus(aria-hidden='true')
    .information.power
      img.computer(src='img/power5.png')
      img.mobile(src='img/slide5.png')
      .text
        h3 THE POWER OF TWO
        p Lorem lpsum has been the industry's standard dummy text ever since the <br> 1500s, when an unknown printer took a galley of type and scrambled it to <br> make a type specimen book. It has survived not only five centuries.
        a LEARN MORE →
      .icons
        .icon.i-fb
          i.fa.fa-facebook(aria-hidden='true')
        .icon.i-tw
          i.fa.fa-twitter(aria-hidden='true')
        .icon.i-goo
          i.fa.fa-google-plus(aria-hidden='true')
.footer-bg
  .footer



































